NegocioWeb/Service References/ServiceReference1/Emprendimientos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfEmprendimientos.DTOS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfEmprendimientos.DTOS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOEmprendimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOEmprendimiento" nillable="true" type="tns:DTOEmprendimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOEmprendimiento" nillable="true" type="tns:ArrayOfDTOEmprendimiento" />
  <xs:complexType name="DTOEmprendimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Costo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PuntajeFinal" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoPrevisto" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOEmprendimiento" nillable="true" type="tns:DTOEmprendimiento" />
</xs:schema>